.footer{
    height: 7vh;
    background-color: #84817a;
    text-align: center;
    padding: 13px;
}
span:first-child {
    font-size: 20px;
    color: white;
}
span:nth-child(2){
    font-size: 16px;
    color: white;
    margin-left: 1%;
}
